<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="base/layout1"><!-- layout文件路径-->
<head>
    <title>展示用户列表</title>
</head>
<body>
<div layout:fragment="content">
    hello spring boot!
</div>
<!--<div>
    <img src="https://alternative.me/crypto/fear-and-greed-index.png" alt="Latest Crypto Fear & Greed Index" />
</div>-->
<!--<table class="table table-hover table-condensed">
    <legend>
        <strong>用户列表</strong>
    </legend>
    <thead>
    <tr>
        <th>用户id</th>
        <th>姓名</th>
        <th>年龄</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userList}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.age}"></td>
    </tr>
    </tbody>
</table>-->

</body>
</html>